Objects/
Listings/
build/
DebugConfig/
EventRecorderStub.scvd
*.uvguix.*
*.uvoptx
*.uvgui.*
*.bak
*.dep
*.o
*.obj
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.log
__pycache__/
.vscode/
.idea/
.DS_Store
Thumbs.db
